body{
    background-color: red;



}
.layout{
    display: grid;
    grid-template-columns:repeat(5 1fr);
    grid-template-areas: 
    "h h h h h"
    "sb1 m m m  sb2"
    "f f f f f";
    grid-template-rows: 10vh 80vh 10vh;


}
.header{
    grid-area: h;
}
.sidebar1{
    grid-area: sb1;
}
.min{
    grid-area: m;
}
.footer{
    grid-area: f;
}


.layout div{
    border: 1px solid black;
    background-color: rgb(red, green, blue);
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    justify-content: center;
    align-items:center;
}
.outerbox{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    margin: 20px;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 100px;
    grid-auto-flow: column;
    grid-auto-rows: 200px;
    /* align-items: center; */
    justify-items: stretch;

}
.box2{
    /* grid-column: span 3; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: span 2; */
       /* grid-row: span 2; */
       /* justify-self: center; */

}
.box{
    background-color: burlywood;
    color: white;
    font-size: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    
    
}
.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax (200px 1fr));
    gap: 20px;
    
    

    
}
.para{
    padding: 1rem;
    background-color: steelblue;
    color: white;
    column-gap: 20px;
}
