.imagediv
{
    background-image: url(image.jpg);
    height: 400px;
    width: 100%;
   
}
.loginbutton
{
    color:white;
    background-color: transparent;
    text-align: right;
    border: none;
    text-align: right;
    padding-top:25px;
    align-items: end;
    margin-left: 1000px;
     
     

}
.createbutton
{
    color: white;
    background-color: transparent;
    border-color: white;
    text-align: right;
    align-items: end;
    border-radius: 8%;
    
}
.logo
{   
    height: 50px;
    width: 50px;
    background-color: white;
    color:red;
    border-radius: 50%;
    margin-left:600px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
}
.heading
{
    color: white;
    text-align: center;
    margin-top: 0;
}
.location
{
    text-align: center;
    margin-left: 300px;
    height: 35px;
    width: 230px;
    margin-top: 10px;

}


.searchinput
{
    
    text-align: center;
    height: 35px;
    width: 430px;
    margin-left: 15px;
    margin-top: 10px;
}

.bottomsection
{
    margin-left: 80px;
}
.image
{
    height: 150px;
    width: 150px;
}
.qs-box-contents
{
    height: 150px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0/16%);
    position: relative;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin-top: 50px    ;
}
.subheading
{
    position: absolute;
    top:0;
    left:160px;
    font-size: 20px;
    font-weight: bold;
    
}
.discription
{
    position: absolute;
    top:35px;
    left:160px
    
}
@media (max-width:1136px){
    .discription {
        max-width:150px;
        left: 170px;
        top: 30px;
    }
    .subheading {
        left: 170px;
    }
}